* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    max-width: 600px;
    margin: 20px auto;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    padding-bottom: 20px;
}

a:link, a:visited, a:active, a:hover {
    color: #24a5d4;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.0em;
    color: #2F4F4F;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.5em;
    color: #8FBC8F;
    margin-bottom: 30px;
}

#food-explanation {
    background-image: url("bierocks.webp");
    background-position: left;
    background-size: 49%;
    background-repeat: no-repeat;
    padding-left: 51%;
    display: inline-block;
}

p {
    padding-bottom: 20px;
};

header {
    padding-bottom: 20px;
}

footer {
    margin-top: 20px;
}

ul {
    border-style: solid;
    margin: 0 auto;
    width: 35%;
}

li {
    margin-left: 2em;
}

img {
    float: left;
    width: 20%;
    padding-right: 10px;
}

table img {
    width: 70%;
}

tr:nth-child(odd) {
    background-color: #F0F8FF;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}

#icons {
    position: absolute;
    top: 100px;
    right: 30px;
}

#icons img {
    width: 2em;
    height: 2em;
}

form {
    width: 50%;
    margin-bottom: 100px;
}

form #left {
    float: left;
    width: 50%;
    text-align: right;
}

form #right {
    padding-left: 5%;
    float: right;
    width: 45%;
}

option {
    position: absolute;
}
